html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #D3D3D3;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1320px;
    max-height: 920px;
    margin: 80px auto;
}

#image {
    
    /* border: 2px solid yellow; */
    width: 40%;
    
    height: 100%;
    display:inline-block;
}

#about {
    
    /* border: 2px solid yellow; */
    color: #f2f2f2;
    margin-top: 0px;
    margin-right: 80px;
    width: 40%;
    min-height: 100%;
    float: right;
}

#about h1 {
    
    /* border: 2px solid yellow; */
    margin: 0;
    font-size: 60px;
    font-weight: 700;
}

#about h1 span{
    
    /* border: 2px solid yellow; */
    color: #FFDF00;
    font-size: 100px;
    text-decoration: underline;
    font-weight: 700;
}

#about h4 {
    
    /* border: 2px solid yellow; */
    margin: 0;
    margin-top: 80px;
    font-size: 44px;
    color: #FFDF00;  
    font-weight: 400;
}
#about p {
    
    /* border: 2px solid yellow; */
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-align: justify;
}

.mySlides {
    margin-top: 180px !important;
    margin-left: 60px;
    display: inline-flex;
}


/* Slideshow container */

.slideshow-container {
    
    background: #000;
    box-shadow: #000;
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);;
    min-width: 1320px;
    min-height: 920px;
    position: relative;
    margin: 24px auto;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position:  absolute;;
    top: 50%;
    width: auto;
    padding: 30px;
    margin-top: -24px;
    color: #D5D5D5;
    font-weight: bold;
    font-size: 24px;
    /* transition: 0.6s ease; */
    /* border-radius: 0 3px 3px 0; */
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



.dot {
    cursor: pointer;
    height: 33px;
    width: 33px;
    margin: 0 2px;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-container {
    top: 24px;
    bottom: 20px;
    margin: 0 auto;
}

.active,
.dot:hover {
    background-color: #FFDF00;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}